body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

header .title {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1068px;
}

#timer {
  position: fixed;
  top: 25px;
  right: 50px;
  font-size: 64px;
}

#start-game {
  background-color: blue;
  color: white;
  font-size: 2rem;
  padding: 25px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
}

#start-game:hover {
  background-color: darkblue;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.question h2 {
  text-align: center;
}

.question-choice {
  cursor: pointer;
  padding: 10px 0
}

li.question-choice.incorrect {
  color: red;
  text-decoration: line-through;
  font-weight: bold;
}

#initials-form {
  display: block;
  margin: 0 auto;
  width: 66%;
}

#initials-form input {
  width: 100%;
  padding: 10px;
}

#highscores {
  box-shadow: 3px 3px 3px rgba(15, 15, 15, .5);
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
}

td {
  text-align: center
}

tr {
  height: 50px;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  background-color: lightgray;
}

tr.currentPlayer {
  font-weight: bold;
  background-color: blue;
  color:white;
}